#novel_p, #novel_a {
    padding: 50px 0 30px !important;
}

/* 前後話ボタン */

.novel_bn {
    writing-mode: horizontal-tb;
    display: flex;
}

.novel_bn a {
    flex: 1;
    text-align: center;
    line-height: 60px;
    font-size: 12.5px;
    padding: 0 !important;
    margin: 0 -1px 0 0;
}

.novel_bn a#lower_back {
    order: 0;
    flex-basis: 37.5%;
}

.novel_bn a#table_contents {
    order: 1;
    flex-basis: 25%;
}

.novel_bn a#lower_next {
    order: 2;
    flex-basis: 37.5%;
}

/* 小説説明 */

#novel_ex {
    font-size: 105%;
}

/* ページ下部遷移ボタン */

#pageBottom {
    width: 17px;
    text-align: center;
}
