#novelnavi_right {
    display: none;
}

#novelnavi_right_alter {
    top: 6px;
    right: 4px;
    height: 32px;
    width: 70px;
    position: fixed;
    border: 1px solid #000000;
    display: table-cell;
    text-align: center;
    background: #ffffff;
}