html {
    background: #F7F6EB;
}

body {
    font-family: dcsymbols,'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ Pr6N','Hiragino Kaku Gothic Pr6N','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Segoe UI',Verdana,'メイリオ',Meiryo,sans-serif;
}

ul#head_nav li a {
    color: #888;
}

#novel_contents {
    background: #F7F6EB;
}

#novel_header {
    background: #F7F6EB;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
}

#novel_color {
    font-size: 14px;
    color: #292826;
}

a, a:visited {
    color: #292826;
}

a:hover, ul#head_nav li a:hover {
    color: #0081c2;
    text-decoration: underline;
}

.novel_bn {
    writing-mode: horizontal-tb;
    display: block;
    background: #EBE9DD;
    color: #6a6968 !important;
    padding: 13px 10px;
    font-size: .9em;
    line-height: 1.3;
}

#novel_honbun, #novel_p, #novel_a {
    line-height: 1.8;
    font-size: 17.5px !important;
    font-family: dcsymbols,'游明朝',YuMincho,'ヒラギノ明朝 Pr6N','Hiragino Mincho Pr6N','ヒラギノ明朝 ProN','Hiragino Mincho ProN','ヒラギノ明朝 StdN','Hiragino Mincho StdN',HiraMinProN-W3,'HGS明朝B','HG明朝B',dcsymbols,'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ Pr6N','Hiragino Kaku Gothic Pr6N','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Segoe UI',Verdana,'メイリオ',Meiryo,sans-serif;
}

.novel_subtitle {
    font-size: 1.75em;
    line-height: 1.3em;
    font-weight: 400;
    margin: 32px auto 60px;
    font-family: dcsymbols,'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ Pr6N','Hiragino Kaku Gothic Pr6N','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Segoe UI',Verdana,'メイリオ',Meiryo,sans-serif;
}


#pageBottom, #pageTop, #text {
    visibility: hidden;
}