body {
    font-family: dcsymbols, '游明朝', YuMincho, 'ヒラギノ明朝 Pr6N', 'Hiragino Mincho Pr6N', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ヒラギノ明朝 StdN', 'Hiragino Mincho StdN', HiraMinProN-W3, 'HGS明朝B', 'HG明朝B', dcsymbols, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pr6N', 'Hiragino Kaku Gothic Pr6N', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Segoe UI', Verdana, 'メイリオ', Meiryo, sans-serif;
    color: #292826;
    font-size: 14px;
    margin: 0;
}

header {
    font-family: dcsymbols, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pr6N', 'Hiragino Kaku Gothic Pr6N', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Segoe UI', Verdana, 'メイリオ', Meiryo, sans-serif;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    padding: 20px 32px 16px;
    margin-bottom: 8px;
    background: #f2f1f0;
}

.container {
    display: flex;
    width: 272px;
}

input {
    cursor: pointer;
    display: none;
}

.setting-title {
    font-family: dcsymbols, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pr6N', 'Hiragino Kaku Gothic Pr6N', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Segoe UI', Verdana, 'メイリオ', Meiryo, sans-serif;
    font-size: 11.5px !important;
    font-weight: 400;
    line-height: 1;
    margin: 15px 16px 7.5px;
}

.button-area {
    margin: 3.75px 16px 7.5px;
}

#check {
    font-family: dcsymbols, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pr6N', 'Hiragino Kaku Gothic Pr6N', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Segoe UI', Verdana, 'メイリオ', Meiryo, sans-serif;
}

.selectbox {
    margin-right: -1px;
    flex: 1;
}

.container div:nth-of-type(1) label {
    border-radius: 3px 0 0 3px;
}

.container div:nth-last-of-type(1) label {
    border-radius: 0 3px 3px 0;
}

label {
    min-width: 60px;
    height: 40px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex: 1;
    cursor: pointer;
}

input:hover+label {
    border: 1px solid #222;
    position: relative;
    z-index: 1;
}

input:checked+label {
    border: 1px solid #4baae0;
    position: relative;
    z-index: 0;
}

footer {
    display: flex;
    justify-content: end;
    padding: 7.5px 16px 16px;
}

#save_data, #load_data {
    font-family: dcsymbols, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pr6N', 'Hiragino Kaku Gothic Pr6N', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Segoe UI', Verdana, 'メイリオ', Meiryo, sans-serif;
    border: 1px solid #0990cc;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    background-color: #4baae0;
    color: #fff;
    padding: 5px 10px;
    margin-left: 12px;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: .1s;
    transition-timing-function: linear;
    font-weight: 700;
    cursor: pointer;
}

#check {
    padding: 5px 0;
    flex: 1;
}

#save_data:hover, #load_data:hover {
    background-color: #0990cc;
}

#save_data:active, #load_data:active {
    box-shadow: 0 0 5px 0 #0990cc;
}

/*各セル固有の設定*/

#smalldiv {
    font-size: 15.4px;
}

#mediumdiv {
    font-size: 17.5px;
}

#largediv {
    font-size: 20.125px;
}

#hugediv {
    font-size: 22.75px;
}

#whitediv {
    background: #FFFFFF;
    color: #222222;
}

#blackdiv {
    background: #171B1D;
    color: #F0F0F0;
}

#kinaridiv {
    background: #F7F6EB;
    color: #292826;
}

#bluediv {
    background: #DFECF4;
    color: #262829;
}

#minchodiv {
    font-family: dcsymbols, '游明朝', YuMincho, 'ヒラギノ明朝 Pr6N', 'Hiragino Mincho Pr6N', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ヒラギノ明朝 StdN', 'Hiragino Mincho StdN', HiraMinProN-W3, 'HGS明朝B', 'HG明朝B', dcsymbols, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pr6N', 'Hiragino Kaku Gothic Pr6N', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Segoe UI', Verdana, 'メイリオ', Meiryo, sans-serif;
}

#gothicdiv {
    font-family: dcsymbols, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pr6N', 'Hiragino Kaku Gothic Pr6N', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Segoe UI', Verdana, 'メイリオ', Meiryo, sans-serif;
}