html, #container, #novel_contents {
    background: var(--n2k-color-background);
}

ul#head_nav li, ul#head_nav li.booklist_now a {
    background: var(--n2k-color-background);
    color: var(--n2k-color-text-sub);
}

/* 上部メニューバー */
#novel_header {
    background: var(--n2k-color-background);
    box-shadow: 0 1px 0 0 var(--n2k-color-shadow)
}

#novel_color {
    color: var(--n2k-color-text);
}

a, a:visited {
    color: var(--n2k-color-text);
}

.contents1 {
    background: var(--n2k-color-background);
    color: var(--n2k-color-text-sub)
}

/* 前後話ボタン */
.novel_bn {
    background: var(--n2k-color-transition);
    color: var(--n2k-color-text);
}

/* FIXME */
.novel_bn a {
    color: var(--n2k-color-text);
}

.novel_bn a:hover {
    background: var(--n2k-color-transition-hover);
}

/* 上部メニューバー、 タイトル, 作者, 章 */
a:hover, ul#head_nav li a:hover {
    color: var(--n2k-color-link);
    text-decoration: underline;
}

/* 最下, 最上 変遷ボタン */
#pageBottom, #pageTop {
    background: var(--n2k-color-transition);
    color: var(--n2k-color-text);
    text-shadow: none;
}

#pageBottom:hover, #pageTop:hover {
    background: var(--n2k-color-transition-hover);
    text-decoration: none;
}