/* Viewer */
html, body, #container, #novel_contents {
    background: var(--n2k-background);
}

/* 上部メニューバー、 タイトル, 作者, 章 */
ul#head_nav li, ul#head_nav li.booklist_now a {
    background: var(--n2k-background);
    color: var(--n2k-color-text-sub);
}

ul#head_nav li a:hover {
    background: var(--n2k-background);
    color: var(--n2k-color-link);
    text-decoration: underline;
}

/* 上部メニューバー */
#novel_header {
    background: var(--n2k-background);
    box-shadow: 0 1px 0 0 var(--n2k-color-shadow);
}

#novel_color,
#novel_contents a,
#novel_contents a:visited{
    color: var(--n2k-color-text);
}

#novel_contents a:hover {
    color: var(--n2k-color-link);
}

.more,
.novel_writername {
    color: var(--n2k-color-text-sub) !important;
}

.more:hover {
    text-decoration: underline;
}

.novel_writername a:hover {
    text-decoration: none !important;
}

.contents1 {
    background: var(--n2k-background);
    color: var(--n2k-color-text-sub);
}

.contents1 a {
    color: var(--n2k-color-text);
}

.contents1 a:hover {
    color: var(--n2k-color-link);
}

/* 前後話ボタン */
.novel_bn {
    background: var(--n2k-background-accent);
    color: var(--n2k-color-text);
}

.novel_bn a {
    color: var(--n2k-color-text);
    border: 1px solid var(--n2k-background-accent-sub);
}

.novel_bn a:hover {
    color: var(--n2k-color-text);
    background: var(--n2k-background-accent-sub);
    text-decoration: none;
}

.wrap_menu_novelview_after, .footerbookmark li.booklist_now a {
    background: var(--n2k-background);
    color: var(--n2k-color-text-sub);
}

.wrap_menu_novelview_after {
    border-top: 1px solid var(--n2k-color-shadow);
    border-bottom: 1px solid var(--n2k-color-shadow);
}

.list_menu_novelview_after a:hover, .footerbookmark li a:hover {
    background: var(--n2k-background);
    color: var(--n2k-color-link) !important;
}

.p-novelpoint-form {
    background: var(--n2k-background);
    color: var(--n2k-color-text) !important;
    border: 2px solid var(--n2k-background-accent-sub);
}

.p-novelpoint-form a {
    color: var(--n2k-color-link) !important;
}

#impression {
    background: var(--n2k-background);
    color: var(--n2k-color-text);
    border: 2px solid var(--n2k-background-accent-sub);
}

#novel_contents #impression a,
#novel_contents #review a,
#novel_contents #novel_hyouka a {
    color: var(--n2k-color-link);
}

#novel_contents #impression a:visited,
#novel_contents #review a:visited,
#novel_contents #novel_hyouka a:visited {
    color: var(--n2k-color-link);
}

#impression textarea {
    background: var(--n2k-background);
    color: var(--n2k-color-text);
    border: 1px solid var(--n2k-background-accent-sub);
}

.novelreport_attention {
    color: #FF5555;
}

.button {
    background: var(--n2k-background-accent);
    color: var(--n2k-color-text);
    border: 2px solid var(--n2k-background-accent-sub);
}

.button:hover {
    background: var(--n2k-background-accent-sub);
    color: var(--n2k-color-text);
    border: 2px solid var(--n2k-background-accent-sub);
}

#novel_attention {
    background: var(--n2k-background);
    color: var(--n2k-color-text);
    border: 5px solid var(--n2k-background-accent-sub);
}

.attention {
    color: #ff5555;
}

#footer {
    background: var(--n2k-background);
    color: var(--n2k-color-text);
    border-top: 1px solid var(--n2k-color-shadow);
}

#novel_footer .undernavi a,
#novel_footer .undernavi a:visited,
#footer       .undernavi a,
#footer       .undernavi a:visited{
    color: var(--n2k-color-text-sub);
}

#novel_footer .undernavi a:hover,
#footer .undernavi a:hover {
    color: var(--n2k-color-link) !important;
}

#search input[type="text"] {
    background: var(--n2k-background);
    color: var(--n2k-color-text);
    border-color: var(--n2k-background-accent-sub);
}

#search input[type="submit"] {
    background: var(--n2k-background);
    color: var(--n2k-color-text);
    border: 1px solid var(--n2k-background-accent-sub);
}

/* 最下, 最上 変遷ボタン */
#pageBottom, #pageTop {
    background: var(--n2k-background-accent);
    color: var(--n2k-color-text);
    border: 1px solid var(--n2k-background-accent-sub);
    text-shadow: none;
}

#pageBottom {
    width: 17px;
    text-align: center;
}

#pageBottom:hover, #pageTop:hover {
    background: var(--n2k-background-accent-sub);
    color: var(--n2k-color-text);
    text-decoration: none;
}

/* 目次 */
div.chapter_title {
    color: #888;
}

dl.novel_sublist2 {
    color: var(--n2k-color-text);
    margin-bottom: 1px;
}

dl.novel_sublist2:hover{
    border-bottom: 1px solid #99ddff;
    margin-bottom: 0;
}

dl.novel_sublist2 a {
    display: block;
}

dl.novel_sublist2 a:hover {
    color: var(--n2k-color-link);
}

dt.long_update {
    color: var(--n2k-color-text-sub) !important;
}

dt.long_update u {
    color: var(--n2k-color-text);
    text-decoration: none;
    cursor: pointer;
}

dt.long_update u:hover {
    color: var(--n2k-color-link);
}

.center {
    color: var(--n2k-color-text);
}

#recommend {
    background: var(--n2k-background);
    border-color: var(--n2k-background-accent);
}

#recommend h3 {
    color: var(--n2k-color-text);
}

.recommend_novel,
.recommend_novel a:hover{
    background: var(--n2k-background);
}

.reconovel_title,
.recommend_ex {
    color: var(--n2k-color-text);
    text-decoration: none;
}

ul.reco,
ul.reco li {
    color: var(--n2k-color-text-sub);
}

ul.reco li.genre {
    color: var(--n2k-color-text);
    background: var(--n2k-background-accent);
}

/* 小説情報 */
h1 a,
h1 a:visited,
#pre_info a,
#ad_s_box a,
#qr       a,
#pre_info,
#data_link h2 {
    color: var(--n2k-color-text);
}

h1         a:hover,
#qr        a:hover,
#pre_info  a:hover,
#ad_s_box  a:hover,
#data_link a:hover{
    color: var(--n2k-color-link) !important;
}

#qr,
#data_link a {
    color: var(--n2k-color-text-sub);
}

#noveltable1 th,
#noveltable2 th {
    color: var(--n2k-color-text);
    background: var(--n2k-background-accent) !important;
    border-color: var(--n2k-background-accent-sub);
}

#noveltable1 td,
#noveltable2 td {
    color: var(--n2k-color-text);
    border-color: var(--n2k-background-accent-sub);
}

.uketuke {
    color: var(--n2k-color-text-sub);
}

#novelindex_button a {
    color: var(--n2k-color-text);
    background: var(--n2k-background-accent);
    border-color: var(--n2k-background-accent-sub);
}

#novelindex_button a:hover {
    color: var(--n2k-color-text);
    background: var(--n2k-background-accent-sub);
    border-color: var(--n2k-background-accent-sub);
}

#onazi {
    border-color: var(--n2k-background-accent-sub);
}

#onazi .th {
    color: var(--n2k-color-text);
    background: var(--n2k-background-accent) !important;
}

#onazi .th   a:hover,
#onazi .info a:hover {
    color: var(--n2k-color-link) !important;
}

#onazi .info {
    color: var(--n2k-color-text-sub);
}

#onazi .ex {
    color: var(--n2k-color-text);
}

#trackback {
    background: var(--n2k-background);
    border-color: var(--n2k-background-accent-sub);
}

#trackback a {
    color: var(--n2k-color-text-sub);
}

#trackback a:hover {
    color: var(--n2k-color-link);
}

#trackback h2 {
    color: var(--n2k-color-text);
}

#trackback tr {
    color: var(--n2k-color-text);
}

#trackback td input {
    color: var(--n2k-color-text);
    background: var(--n2k-background);
    border-color: var(--n2k-background-accent-sub);
}