:root {
    --n2k-background: #171B1D;
    --n2k-background-accent: #484B4D;
    --n2k-background-accent-sub: #585B5D;
    --n2k-color-text: #F0F0F0;
    --n2k-color-text-sub: #888888;
    --n2k-color-link: #4baae0;
    --n2k-color-shadow: rgba(255, 255, 255, .3);
}