:root {
    --n2k-color-background: #FFFFFF;
    --n2k-color-transition: #F2F1F0;
    --n2k-color-transition-hover: #EAE9E8;
    --n2k-color-text: #222222;
    --n2k-color-text-sub: #888888;
    --n2k-color-link: #0081C2;
    --n2k-color-shadow: rgba(0, 0, 0, .05);
}