:root {
    --n2k-font-gothic: dcsymbols,'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ Pr6N','Hiragino Kaku Gothic Pr6N','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Segoe UI',Verdana,'メイリオ',Meiryo,sans-serif;
}

body {
    font-family: var(--n2k-font-gothic);
}

.novel_subtitle {
    font-family: var(--n2k-font-gothic);
}